#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  gap: 50px; /* Adds space between columns */
}

/* .column {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
} */
